extends layout

block content
    
    h1.text-center #{title}
    div.well Hello! This project was made for fun. In the development was used HTML, CSS, jQuery, Node, Express, Pug, MongoDB, Mongoose. If you have any q-s or propositions you can contact me via 
            a(href='https://vk.com/edgrab') vk
            |   | 
            a(href='https://github.com/edgrab') github
            |   or write to me an email to edgrwork@gmail.com
