extends layout

block content
  h1.text-center Login Form (soon)
  form(method='POST', action='/users/login')
    .form-group
      label Username:
      input.form-control(name='username', type='text' required disabled)
    .form-group
      label Password:
      input.form-control(name='password',type='password' required disabled)
    
    br
    input.btn.btn-primary(type='submit',value='Submit' disabled)
