extends layout

block content
  h1.text-center Register Form (soon)
  form(method='POST', action='/users/register')
    .form-group
      label Username:
      input.form-control(name='username', type='text' required disabled)
    .form-group
      label Email:
      input.form-control(name='email', type='text' required disabled)
    .form-group
      label Password:
      input.form-control(name='password',type='password' required disabled) 
    
    br
    input.btn.btn-primary(type='submit',value='Submit' disabled)
